.boxcolor-box {
    border: 2px solid black;
    padding: 12px;
    margin: 12px 0;
    text-align: center;
    width: 78.7%;
    height: 110px;
    font-size: 35px;
    color: white;
  }
  
.boxcolor-boxs {
  border: 2px solid black;
  padding: 12px;
  margin: 12px 0;
  text-align: center;
  width: 78.7%;
  height: 110px;
  font-size: 35px;
  color: black;
}
